<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
    <div class="jumbotron">
        <h1>Products</h1>
        <% if (products.length > 0) { %>
            <ul>
                <% products.forEach(product => { %>
                    <li>
                        <h2><%= product.name %></h2>
                        <p>Price: $<%= product.price %></p>
                        <p>Description: <%= product.description %></p>
                    </li>
                <% }); %>
            </ul>
        <% } else { %>
            <p>No products available</p>
        <% } %>
    </div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>